<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/adaptive-icon.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Add Helpful Tip</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <style>
    .textarea {
        height: 250px;
    }
    .infoupdated {
        padding-top: 40px;
        padding-bottom: 0px;
        background-color: rgb(69, 153, 69);
        align-items: center;
        justify-content: center;
    }
    .updatedMessage {
        color: white;
        font-size: 12px;
        text-align: center;
    }
    .pageHeader {
        padding-top: 40px;
        padding-bottom: 0px;
        background-color: rgb(255, 123, 0);
        align-items: center;
        justify-content: center;
    }
    .pageHeaderText {
        color: white;
        font-size: 12px;
        text-align: center;
    }
  </style>
</head>
<body>
  
<section data-bs-version="5.1" class="menu menu2 cid-ukWKL4uJZV" once="menu" id="menu2-17">    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <form action="gotodashwelcome" method="POST">    
                    <input hidden name="token" value="<%=token %>">
                    <button type="submit" class="navbar-caption text-black display-4">IstartApp Dashboard</button>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <form action="gotodashboardstats" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Statisitics</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotograntcalls" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Grants</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotopartners" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Partners</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotomentorships" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Mentorships</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotoprojects" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Projects</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotohelpfultips" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Helpful Tips</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotocategories" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Categories</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotoapplications" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Applications</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotousers" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Users</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="logout" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<% if(typeof message!= "undefined" && message){ %>
<section class="infoupdated">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-4 updatedMessage"><strong><%=message %></strong></h3>
            </div>
        </div>
    </div>
</section>
<% } %>

<section class="pageHeader">
    <div class="container pageOverlay">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-4 updatedMessage"><strong>Add Helpful Tip</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="form6 cid-ukXM5kql9I" id="form6-15">
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12 mx-auto mbr-form display-4">
                <form action="addhelpfultip" method="POST" data-rcpha_sitekey="" data-rcpha_secretkey="" class="mbr-form form-with-styler mx-auto display-4" data-verified="" enctype="multipart/form-data">
                    <div class="dragArea row display-4">
                        <input hidden name="token" value="<%=token %>">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="authorImage">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Upload An Image:</strong></h4>
                            <input type="file" name="authorImage" id="authorImage" accept="image/*">    
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="helpfulTipCoverImage">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Upload An Image:</strong></h4>
                            <input type="file" name="helpfulTipCoverImage" id="helpfulTipCoverImage" accept="image/*">    
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Tip Title:</strong></h4>
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" id="name-form6-15">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="author">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Author:</strong></h4>
                            <input type="text" name="author" placeholder="Author" data-form-field="author" class="form-control" id="author-form6-15">
                        </div>
                        <div data-for="shortDescription" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Summary:</strong></h4>
                            <textarea type="text" name="shortDescription" placeholder="Short Description" data-form-field="shortDescription" class="form-control textarea" id="shortDescription-form6-15"></textarea>
                        </div>
                        <div data-for="longDescription" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Full Description:</strong></h4>
                            <textarea type="text" name="longDescription" placeholder="Full Description" data-form-field="longDescription" class="form-control textarea" id="longDescription-form6-15"></textarea>
                        </div>
                        <div data-for="link" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <h4 class="mbr-section-subtitle mbr-fonts-style align-left mb-0 mt-2 display-4"><strong>Web link:</strong></h4>
                            <input type="text" name="link" placeholder="Web Link" data-form-field="link" class="form-control" id="link-form6-15">
                        </div>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-danger display-4">Add Helpful Tip</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-ukWNFCKGag" once="footers" id="footer7-14">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-4"><strong>
                    © Copyright 2024 istartapp - All Rights Reserved
                </strong></p>
            </div>
        </div>
    </div>
</section>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script src="assets/smoothscroll/smooth-scroll.js"></script>  
<script src="assets/ytplayer/index.js"></script>  
<script src="assets/dropdown/js/navbar-dropdown.js"></script>  
<script src="assets/theme/js/script.js"></script>      
  
</body>
</html>