<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/adaptive-icon.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
  
<section data-bs-version="5.1" class="menu menu2 cid-ukWKL4uJZV" once="menu" id="menu2-17">    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <form action="gotodashwelcome" method="POST">    
                    <input hidden name="token" value="<%=token %>">
                    <button type="submit" class="navbar-caption text-black display-4">IstartApp Dashboard</button>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <form action="gotodashboardstats" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Statisitics</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotograntcalls" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Grants</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotopartners" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Partners</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotomentorships" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Mentorships</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotoprojects" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Projects</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotohelpfultips" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Helpful Tips</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotocategories" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Categories</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotoapplications" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Applications</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="gotousers" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Users</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="logout" method="POST">
                            <input hidden name="token" value="<%=token %>">
                            <button type="submit" class="nav-link link text-black display-4">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header6 cid-ukWVLQSNmQ" id="header6-r">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 145, 0);"></div>
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-7"><strong>Dashboard Statisitics</strong></h1>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features23 cid-ukWM3uRe0S" id="features23-1">
    <div class="container">
        <div class="card-wrapper">
            <div class="card-box align-left">
            </div>
        </div>
        <!-- col-12 col-md-6 col-lg-4 -->
        <div class="row justify-content-center content-row mt-4">
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.usercount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Users</strong></h4>
                    <!-- <p class="mbr-text card-text mbr-fonts-style display-4">
                        Mobirise is perfect for non-techies who are not familiar with the intricacies of web
                        development.
                    </p> -->
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.activeProjects %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Projects</strong></h4>
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.grantcallscount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Grants</strong></h4>
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.applicationcount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Applications</strong></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header6 cid-ukWWzGqnQA" id="header6-s">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 145, 0);"></div>
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-7"><strong>User Type&nbsp; Statisitics</strong></h1>  
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features23 cid-ukXcWCNWsT" id="features23-v">
    <div class="container">
        <div class="card-wrapper">
            <div class="card-box align-left">                
            </div>
        </div>
        <!-- col-12 col-md-6 col-lg-4 -->
        <div class="row justify-content-center content-row mt-4">
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.innovators %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Innovators</strong></h4>
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.investors %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Investors</strong></h4>
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.developmentpartners %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Deployment Partners</strong></h4>
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.admincount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Admins</strong></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="info3 cid-ukXlKnq06i" id="info3-w">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 145, 0);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-7">
                            <strong>Project Statistics</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features23 cid-ukXnFZzR6d" id="features23-x">    
    <div class="container">
        <div class="card-wrapper">
            <div class="card-box align-left">
            </div>
        </div>
        <!-- col-12 col-md-6 col-lg-4 -->
        <div class="row justify-content-center content-row mt-4">
            <div class="card p-4 p-md-3 col-md-6">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.projectcategoriescount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Project Categories</strong></h4>
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6">
                <div class="card-box">
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Category Breakdown</strong></h4>
                    
                    <!--stats.projectcategorystats-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table" id="dataTable">
                                    <thead class="display-4">
                                        <tr>
                                            <th><strong>Project Category</strong></th>
                                            <th><strong>Stats</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="display-4">
                                        <tr>
                                            <td>Agribusiness</td>
                                            <td><%=projectcategorystats.Agribusinessprojects %></td>
                                        </tr>
                                        <tr>
                                            <td>Trade and Commerce</td>
                                            <td><%=projectcategorystats.TradeCommerceprojects %></td>
                                        </tr>
                                        <tr>
                                            <td>Tourism and Hospitality</td>
                                            <td><%=projectcategorystats.TourismHospitalityprojects %></td>
                                        </tr>
                                        <tr>
                                            <td>Construction and Real Estate</td>
                                            <td><%=projectcategorystats.ConstructionRealEstateprojects %></td>
                                        </tr>  
                                        <tr>
                                            <td>Transport and Logistics</td>
                                            <td><%=projectcategorystats.TransportLogisticsprojects %></td>
                                        </tr>   
                                        <tr>
                                            <td>Financial and Insurance Services</td>
                                            <td><%=projectcategorystats.FinancialInsuranceServicesprojects %></td>
                                        </tr>
                                        <tr>
                                            <td>Professional Services</td>
                                            <td><%=projectcategorystats.ProfessionalServicesprojects %></td>
                                        </tr>
                                        <tr>
                                            <td>Education</td>
                                            <td><%=projectcategorystats.Educationprojects %></td>
                                        </tr> 
                                        <tr>
                                            <td>Healthcare</td>
                                            <td><%=projectcategorystats.Healthcareprojects %></td>
                                        </tr> 
                                        <tr>
                                            <td>Creative Arts</td>
                                            <td><%=projectcategorystats.CreativeArtsprojects %></td>
                                        </tr>
                                        <tr>
                                            <td>Energy and Minerals</td>
                                            <td><%=projectcategorystats.EnergyMineralsprojects %></td>
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="info3 cid-ukXJrcZN6g" id="info3-y">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 145, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-7">
                            <strong>More Statistics</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features23 cid-ukXJNIWrV4" id="features23-z">    
    <div class="container">
        <div class="card-wrapper">
            <div class="card-box align-left">
            </div>
        </div>
        <!-- col-12 col-md-6 col-lg-4 -->
        <div class="row justify-content-center content-row mt-4">
            <div class="card p-4 p-md-3 col-md-6 col-lg-4">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.mentorshipscount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Mentorship Programs</strong></h4>
                    
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-4">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.helpfultipscount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Helpful Tips</strong></h4>
                    
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-4">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong><%=stats.partnerscount %>.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Partnerships</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-ukWNFCKGag" once="footers" id="footer7-4">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-4"><strong>
                    © Copyright 2024 istartapp - All Rights Reserved
                </strong></p>
            </div>
        </div>
    </div>
</section>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script src="assets/smoothscroll/smooth-scroll.js"></script>  
<script src="assets/ytplayer/index.js"></script>  
<script src="assets/dropdown/js/navbar-dropdown.js"></script>  
<script src="assets/theme/js/script.js"></script>    
  
</body>
</html>